<%- layout('./layouts/boilerplates') %>
<div>
  <h1 class="text-white mb-2">List of all customers</h1>
  <div class="all-customer">
    <table class="table table-dark table-borderless">
      <thead>
        <tr class="border-tr">
          <td scope="col">S.N</td>
          <td scope="col">Name</td>
          <td scope="col">Email</td>
          <td scope="col">Balance</td>
          <td scope="col">Select customer</td>
        </tr>
      </thead>
      <tbody>
        <% for(let customer of customers) {%>
        <tr>
          <td scope="row"><%= i++ %></td>
          <td><%= customer.name %></td>
          <td><%= customer.email %></td>
          <td><%= customer.currentBalance %></td>
          <td>
            <a href="banking/<%=customer._id %>" class="btn btn-info btn-sm"
              >View customer</a
            >
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
